menu "qat setting"
config QAT
    bool "enable QAT"
    default n
config QAT_COMMON_DEMO
    bool "enable QAT COMMON DEMO"
    default n
config QAT_TRANSMISSION_MODULE
    int "change transmission module for QAT. 0:UART, 1:SPI"
    default 0
config QAT_TCPIP_DEMO
    bool "enable QAT TCPIP DEMO"
    default n
endmenu
