mainmenu "Fermion Kconfig"

source "boards/Kconfig"
source "soc/Kconfig"

source "lib/Kconfig"
source "modules/console/Kconfig"
source "modules/fw_upgrade/Kconfig"

source "../comp/wifi/core/Kconfig"
